/* the font we'll use for main content text */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* layout for most pages */

body {
  background: #BEEF9E;
  margin: 0;
  font-family: 'Roboto', sans-serif;
};

.wrapper {
  background: white;
}